body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
   
}

h1{
    color: aqua;
    text-shadow: purple;
}
h2{
    color: rgb(0, 0, 0);
    text-decoration: double;
   
}

